@page {
  size: A4;
  margin: 0.5cm;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .MuiBox-root {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
